<!-- views/login.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  

  <div class="form-container">
    <h1>Welcome</h1>

    <form action="/login" method="POST" id="login_form" class="form-group">
      <% if (message && message.length > 0) { %>
        <div style="color: red;">
          <%= message %>
        </div>
      <% } %>
      
      <input type="email" id="email" name="email" required placeholder="Email">
      <input type="password" id="password" name="password" required placeholder="Password">
      
      <button id="submit" type="submit">Login</button>
    </form>
    <a href="/register">
      <button id="signUpLinkButton" class="signup-button">Create Account</button>
    </a>
  </div>
  
  
</body>
</html>
