<!DOCTYPE html>
    <html>
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Schedule Employee</title>
    <link rel="stylesheet" href="style.css">
    <!--<link rel="stylesheet" href="/styles.css/" type="text/css">-->
    <link rel="stylesheet" href="/calendar.js.css" type="text/css">
    <script type = "text/javascript" src= "/calendar.js"></script>
</head>
    <body>
        <div class="navbar">
            <div class="logoimg">
                <img src="MinuteToManage.png" />
            </div>
            <% if (isAdmin) { %>
                <a href="/manager_dashboard">Dashboard</a>
                <a href="/schedule_employee">Schedule Employee</a>
                <a href="/view_requests">Employee Requests</a>
                <a href="/add_employee">Add Employee</a>
                <a href="/remove_employee">Remove Employee</a>
                <a href="/view_employee">View Employees</a>
                <a href="/create_org">Create An Organization</a>
                <a href="/logout">Logout</a>
            <% } else { %>
                <!-- Links for non-admin users -->
                <a href="/view_employee">View Employees</a>
                <a href="/logout">Logout</a>
            <% } %>
        </div>


        <!-- Check if organization exists and display accordingly -->
        <% if (organization && organization !== null) { %>
            <h1>Create Schedule for <%= organization %></h1>
        <% } else { %>
            <h1>Create Schedule</h1>
            <p>You are not currently part of an organization.</p>
        <% } %>
        </body>

        <div class="contents">
            <div id="calendar1" data-binding-calendar='{ "views": { "fullMonth": { "showExtraTitleBarButtons": false } } }'></div>
            
        </div>
        <button id = "exportButton">Export Events to MySQL</button>
        </body>
        
        <script>
            var calendarInstance1 = new calendarJs( "calendar1", {
                exportEventsEnabled: true, 
                manualEditingEnabled: true, 
                views: {
                    fullMonth: {
                        showTimesInEvents: false,
                        minimumDayHeight: 0
                    }
                },
                manualEditingEnabled: true,
                organizerName: "Your Name",
                organizerEmailAddress: "your@email.address",
                visibleDays: [ 0, 1, 2, 3, 4, 5, 6 ],
                events: {
                    onEventsExported: function( events ) {
                        console.log( events );
                    }
                }
              
            } );
            var eventData = '<%= eventData%>';
            

            var decodedJsonData = eventData.replace(/&#34;/g, '"');
            calData = JSON.parse(decodedJsonData);

            console.log(calData);
            calendarInstance1.setEventsFromJson(decodedJsonData);
        </script>

        <script>
            var eventData;
            document.getElementById('exportButton').addEventListener('click', function() {
            // Call the export function
                eventData = calendarInstance1.export('json');
                events = calendarInstance1.getEvents();
                console.log(events)
            
                if(events){
                    fetch('/schedule_employee', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'  // Tells the server that the body is plain text
                        },
                        body: JSON.stringify(events)  // Directly send the string, no need to stringify
                    })
                    .then(data => console.log('Success:', data))
                    .catch(error => {
                    console.error('Error saving event:', error);
                    alert('There was an error saving the event.');
                    });
                }
            });
        </script>
        </html>
