<!DOCTYPE html>
    <html>
    <head>
    <title>Employee Contact Information</title>
    <script src="script.js" defer></script>
    <link rel="stylesheet" href="style.css">
</head>
    <body>
        <div class="navbar">
            <div class="logoimg">
                <img src="MinuteToManage.png" />
            </div>
            <a href="/manager_dashboard">Dashboard</a>
            <a href="/schedule_employee">Schedule Employee</a>
            <a href="/view_requests">Employee Requests</a>
            <a href="/add_employee">Add Employee</a>
            <a href="/view_employee">View Employees</a>
            <a href="/create_org">Create An Organization</a>
        </div>


        <h1>Employee Contact Information</h1>
    
            
        <!-- Employee Contact Table -->
        <div class="form-container">
        <table class="coworkers-table">
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John Doe</td>
                    <td>john.d@example.com</td>
                    <td>(123) 456-7890</td>
                </tr>
                <tr>
                    <td>Jane Smith</td>
                    <td>jane.s@example.com</td>
                    <td>(987) 654-3210</td>
                </tr>
                <tr>
                    <td>Mike Blanchard</td>
                    <td>mike.b@example.com</td>
                    <td>(220) 867-5309</td>
                </tr>
                <tr>
                    <td>Jessica Rabbit</td>
                    <td>jessica.r@example.com</td>
                    <td>(920) 305-9865</td>
                </tr>
                <tr>
                    <td>Mitchell Strive</td>
                    <td>mitchell.s@example.com</td>
                    <td>(920) 365-6563</td>
                </tr>
            
                
            </tbody>
        </table>
        </div>
        </body>
