<!DOCTYPE html>
    <html>
    <head>
    <title>View Employee Requests</title>
    <script src="script.js" defer></script>
    <link rel="stylesheet" href="style.css">
</head>
    <body>
        <div class="navbar">
            <div class="logoimg">
                <img src="MinuteToManage.png" />
            </div>
            <a href="/manager_dashboard">Dashboard</a>
            <a href="/schedule_employee">Schedule Employee</a>
            <a href="/view_requests">Employee Requests</a>
            <a href="/add_employee">Add Employee</a>
            <a href="/view_employee">View Employees</a>
        </div>


        <h1> View Employee Requests</h1>
        <p>Information about Employee's Time off Requests - be able to accept or deny</p>
        </body>