<!DOCTYPE html>
    <html>
    <head>
    <title>View Employee Requests</title>
    <script src="script.js" defer></script>
    <link rel="stylesheet" href="style.css">
</head>
    <body>
        <div class="navbar">
            <div class="logoimg">
                <img src="MinuteToManage.png" />
            </div>
            <a href="/manager_dashboard">Dashboard</a>
            <a href="/schedule_employee">Schedule Employee</a>
            <a href="/view_requests">Employee Requests</a>
            <a href="/add_employee">Add Employee</a>
            <a href="/remove_employee">Remove Employee</a>
            <a href="/view_employee">View Employees</a>
            <a href="/create_org">Create An Organization</a>
            <a href="/logout">Logout</a>
        </div>


        <!-- Check if organization exists and display accordingly -->
        <% if (organization && organization !== null) { %>
            <h1>Requests for <%= organization %></h1>
        <% } else { %>
            <h1>Requests</h1>
            <p>You are not currently part of an organization.</p>
        <% } %>
        </body>